@import url(reset.css);

@import url(style.css);


* {
    box-sizing: border-box;
    }


    /* The actual timeline (the vertical ruler) */
    .timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 50px;
    }

    .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    }

    .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
    }

    .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #D5A021;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
    }

    .left {
    left: 0;
    }

    .right {
    left: 50%;
    }

    .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
    }


    .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
    }

    .right::after {
    left: -16px;
    }

    .content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
    }

   @media screen and (max-width: 600px) {

    .timeline::after {
    left: 31px;
    }


    .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
    }

    .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
    }

   .left::after, .right::after {
    left: 15px;
    }
    
    .right {
    left: 0%;
    }
    }
main{
    width: 100vw;
    background-color: #F6F4EE;
    padding: 60px 150px;
}

main h1{
    font-size: 22px;
    color: #4B4237;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

.content h2{
    font-size: 16px;
    color: #4B4237;
    font-weight: bold;
    margin-bottom: 20px;
}

.content p{
    font-size: 14px;
    color: #4B4237;
    margin-bottom: 10px;

}

span{
   font-weight: bold; 
   font-size: 16px;
}

main > h2{
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 40px;
}

.introduce{
    padding: 60px 150px;
    color: #4B4237;
    
}

.introduce h1{
    font-size: 22px;

    font-weight: bold;
    text-align: center;
}
.intro_text_area h2{
    font-size: 18px;
    font-weight: bold;
    margin: 40px 0 20px;
}
.intro_text_area p{
    font-size: 16px;
    line-height: 20px;
}
.joinus{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.joinus h1{
    padding-top: 60px;
    border-top: 2px solid #4B4237;
}

.joinus a{
    width: 100px;
    text-align: center;
    margin: 0 auto;
    padding: 5px 10px;
    text-decoration: none;
    color:#4B4237 ;
    background-color: #fff;
    border: 2px solid #4B4237 ;
    box-sizing: border-box;
    font-size: 16px;
}

.joinus a:hover{
    background-color: #4B4237; 
    color: white; 
}