@import url(reset.css);
@import url(style.css);

body, html {
    margin: 0;
    padding: 0;
}

.container {
    padding-top: 45px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}
.pro_detail{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left {
    position: fixed;
    width: 50vw;
}

.right {
    margin-left: calc(50vw + 80px);
    padding: 20px 80px  0 0;
    height: 300vh;
}

.Slide{
    display: flex;
    flex-direction: row;
}

.Slide_Area {
    position: relative;
}

.mySlides {
    display: none;
}

.next {
    right: 10px;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 10px;
    border-radius: 3px 0 0 3px;
}

header{
    background: none;
    background-color: #F6F4EE;
    color: #4B4237;
    border-bottom: 1px solid #999; 
}

.header_right input{
    border-bottom: 1px solid #4B4237;
}


.button a,.header_right li a{
    color: #4B4237;

}
.LOGO a{
    color: #4B4237;
}


.hearts{
    text-align: right;
}

.black_button{
    padding: 7px;
    background-color: black;
}

.colors{
    border: 1px solid white;
    padding: 3px;
}

.colors:hover{
    border: 1px solid #4B4237;
    padding: 3px;
}

.Select{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 20px;
}

.brown_button{
    padding: 7px;
    background-color: rgb(91, 66, 48);
}

.white_button{
    padding:7px;
    background-color: #dddddd;
}

.TEXT{
    text-align: right;
    font-size: 16px;
    color: #4B4237;
}

.TEXT span{
    font-size: 14px;
    text-decoration-line: line-through;
    margin-right: 10px;
}

.pro_tit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.SIZE{
    font-size: 12px;
    padding: 2px 7px;
    color: #4B4237;
    text-decoration: none;
    box-sizing: border-box;
    border: 1px solid white;
}
.SIZE:hover{
    box-sizing: border-box;
    border: 1px solid #4B4237;
}

.product_intro{
    height: auto;
}
.product_intro input{
    height: 35px;
    text-align: center;
}

.product_intro input::-webkit-outer-spin-button,
.product_intro input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input_item_number{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    user-select: none;
}

#minus,#plus{
    padding: 5px;
    cursor: pointer;
}
#minus:hover,#plus:hover{
    background-color: #4B4237;
    color: white;
}


.two_buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:2%
}

.but{
    font-size: 12px;
    width: 49%;
    text-align: center;
    padding: 10px 20px;
    background-color: #4B4237;
    color: white;
    margin-bottom: 10px;
}

.but:first-child{
    background-color: white;
    color: #4B4237;
    border:1px solid #4B4237;
}

.but:first-child:hover{
    background-color: #F6F4EE;
    border:1px solid white;
}

.pro_info_area p{
    font-size: 12px;
    margin-bottom: 10px;
}

.pro_info_area{
    padding: 20px 0;
}

.pro_info_area p:first-child{
    margin-bottom: 20px;
}

.pro_info_area p:last-child{
    margin-top: 20px;
}

.size_information img{
    width: 80%;
    margin: 0 auto;
}

.size_information{
    margin-top: 20px;
    font-weight: bold;
}

.cell {
    text-align: center;
    padding: 10px 20px;
    font-size:12px;
    border-bottom: 1px solid #000;
}

.size_info{
    display: flex;
    flex-direction: column;
}

.header2 h1{
    background-color:#F6F4EE;
    color: #4B4237;
    
}

.cell2 {
    text-align: center;
    padding: 10px 20px;
    font-size:12px;
    border-top: 1px solid #000;
}

.cell2:first-child {
    border-top: 1px solid #000;
}

table{
    margin-top: 20px;
    font-size: 14px;
    width: 100%;
    text-align: center;
    padding: 20px;
    color: #4B4237;
    margin-bottom: 40px;
}
th,td{
    border: 0.3px solid #4B4237;
    padding: 10px 0;
}

th{
    background-color: #E5AAA3;
    color: white;
}

.th{
    background-color: #F6F4EE;
    color: #4B4237;
}
.material_information img{
    width: 100%;
}

.size_detail{
    position: relative;
    text-align: center;
}
.size_detail h1{
    top:8%;
    left: 45%;
}
.size_detail h2{
    top: 50%;
    left: 15%;
}
.size_detail h3{
    top:50%;
    left:45%;
}
.size_detail h4{
    bottom: 10%;
    left: 45%;
}

.size_detail h1, .size_detail h2, .size_detail h3, .size_detail h4{
    position: absolute;
    background-color: white;
    font-size: 12px;
}

.material_detail {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}

.material_detail img{ 
    width: 60%;
    border-radius: 200px;
    border: 4px solid #4B4237;
}

.popular_items_area{
    width: 100vw;
    box-sizing: border-box;
    padding: 60px 150px;
    position: relative;
    background-color:white ;
}

.popular_items_text_area{
    text-align: center;
    color: #736B60;
}

.popular_items{
    display:flex;
    overflow: hidden;
    gap:20px;
    padding:40px 0;
    box-sizing: border-box;
}
.popular_items img {-o-user-drag: none;
    width: calc((100vw - 300px - 80px) * 0.20);
}


.material_information{
    margin-top: 20px;
    font-weight: bold;
}

.material_information h1{
    margin-bottom: 20px;
}

.new_table table{
    margin-top: 20px;
    font-size: 14px;
    width: 100%;
    text-align: center;
    padding: 20px;
    color: #4B4237;
    margin-bottom: 40px;
}
.new_table th,td{
    border: 0.3px solid #4B4237;
    padding: 10px 0;
}

.new_table th{
    background-color: #F6F4EE;
    color: #4B4237;
}

.new_table td{
    color: #4B4237;
    font-weight: normal;
}

.size_info p {
    font-size: 14px;
}

.popular_items_text_area h1{
    text-align-last: left;
    font-weight: bold;
}

.Comment img{
    border-radius: 4px;
    width: calc(((100vw - 300px - 60px) * 0.25) * 0.5 );
    height: calc(((100vw - 300px - 60px) * 0.25) * 0.5 );
    object-fit: cover;
    display: flex   ;
}

.CommentMessages{
    display:flex;
    overflow: hidden;
    gap:10px;
    padding:40px 0;
    box-sizing: border-box;
}
.Comment{
    position: relative;
    width: calc((100vw - 300px - 120px) * 0.25);
    display: flex;
}

.product_introdu{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
    margin-bottom: 10px;
}

.heartss{
    margin-top: 10px;
    text-align: left;
    font-size: 12px;
    color: #FF8675;

}

.heartss i{
    margin-right: 2px;
}

.product_introdu h1{
    font-size: 13px;
}

.comment_bot{
    margin-top: 10px;
    color: #4B4237;
}
.comment_bot p{
    font-size: 12px;
    margin-bottom: 5px;
}

.comment_bot span{
    margin-right: 10px;
    color: #000;
}

.comment_bot h2{
    font-size: 12px;
    margin-bottom: 10px;
}

.comment_bot h3{
    font-size: 14px;
    height: calc(((100vw - 300px - 60px) * 0.25) * 0.3);


}

.comment_top{
    background-color: #F6F4EE;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #4B4237;
    border-radius: 4px;  
}

.CommentMessage_text_area{

    color: #4B4237;

}
.CommentMessage_text_area h1{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}
.CommentMessage_text_area h2 {
    text-align: center;
}

