@import url(reset.css);
@import url(style.css);


body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}
.right::-webkit-scrollbar {
    display: none;  
}
.container {
    padding-top: 45px;
    display: flex;
    height: 100vh;
}
.left {
    position: sticky;
    top: 0;
    height: 100vh;
    width: 50vw;
}
.right {
    padding: 30px;
    width: 50vw;
    overflow-y: auto;
    max-height: 100vh;
}
.product_intro {
    height: 150vh;
}
.other-products {
    height: 100vh;
    background-color: lightblue;
}

.left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.Slide{
    display: flex;
    flex-direction: row;
}

.Slide_Area {
    position: relative;
    overflow: hidden;
}

.mySlides {
    position: sticky;
  display: none;
}

.prev,.next {
    position: absolute;
    top: 50%;
    margin-top: -60px;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.next {
    right: 10px;
    border-radius: 3px 0 0 3px;
}
.prev {
    left: 10px;
    border-radius: 3px 0 0 3px;
}

.prev:hover,.next:hover {
    background-color:#4B4237;
}


.mySlides img {
    -o-user-drag: none;
    cursor:pointer;
    display: flex;
    width: auto;
    height: 100vh;
    position: sticky;
}

header{
    background: none;
    background-color: #F6F4EE;
    color: #4B4237;
    border-bottom: 1px solid #999; 
}


header input{
    color: #4B4237;
    border-bottom: 1px solid #4b4237; 
}

.button a,.header_right li a{
    text-decoration: none;
    color: #4B4237;
}
.LOGO a{
    color: #4B4237;
}
