@import url(reset.css);
@import url(style.css);



/*----------------------推薦商品----------------------*/

.popular_items_area{
    width: 100vw;
    box-sizing: border-box;
    padding: 100px 150px;
    position: relative;
    background-color:#F6F4EE ;
}
.product{
    overflow: visible;
}
.popular_items_text_area{
    text-align: center;
    color: #736B60;
}

.popular_items_text_area h1{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.popular_items_text_area p{
    font-size: 16px;
}

.popular_items{
    display:flex;
    overflow: hidden;
    gap:20px;
    padding:40px 0;
    box-sizing: border-box;
}


.popular_items img {-o-user-drag: none;
    width: calc((100vw - 300px - 60px) * 0.25);
}
