.noto-sans-tc-regular{
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.gaegu-regular {
    font-family: "Gaegu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body{
    font-family: Noto Sans TC;
    overflow-x: hidden;
}

/*----------------------頁首----------------------*/
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.30) 0%, rgba(56, 56, 56, 0.23) 49%, rgba(230, 230, 230, 0.00) 100%);  
    padding: 0 60px;
    box-sizing: border-box;
    color: white;
    z-index: 200;

    font-size: 18px;
    height: 60px;
}

nav {
    display: flex;
}

.LOGO a{
    color: white;
    font-family: gaegu;
    margin-right: 20px;
    text-decoration: none;

    font-size: 40px;
}
nav ul{
    display: flex;
    align-items: center;
    position: relative;
}
nav li{
    display: flex;
    justify-content: center;
}

nav li,header section li{
    margin:0 10px 0 10px ;
}

nav a,header section li a{
    text-decoration: none;
    color: white;
}

header section ul{
    display: flex;
    align-items: center;
}

header section input{
    width: 150px;
    display: block;
    border: none;
    border-bottom: 1px solid white; 
    background:none ;
}

header section input:focus {
    outline: none;
}

.scrolled {
    position: fixed;
    top: 0;
    background: none;
    background-color: #F6F4EE;
    color: #4B4237;
    border-bottom: 1px solid #999; 
}
.scrolled header section li a{
    color: #4B4237;
}
.scrolled a {
    color: #4B4237;
}

.scrolled input{
    color: #4B4237;
    border-bottom: 1px solid #4b4237; 
}

.marquee{
    color: white;
    background-color:  #E5AAA3 ;
    font-size: 16px;
    text-align: center;
    padding: 10px 0;
}

.mySlides img{
    width: 100vw;
}

/*------------------- 頁尾----------------------*/
footer{
    background-color: #A49694;
    padding: 40px 100px 20px;
    color: white;
}

.footer_left_top{
    display: flex;
    align-items: center;
}
.footer_left_top a{
    display: block;
    color: white;
    text-decoration: none;
    margin-right: 40px;

    font-size: 16px;
}

.company_name{
    display: flex;
    align-items: center;
}

.company_name p{
    display: block;
    font-family: gaegu;

    font-size: 36px;
}
.company_name h1{
    font-size: 18px;
    display: block;
    margin-left: 20px;
}

.right_top h1{
    margin-bottom: 5px;

    font-size: 16px;
}
.right_bottom h2{
    margin-bottom: 5px;

    font-size: 14px;
}

.right_bottom {
    margin-bottom: 10px;
}

.top{
    display: flex;
    justify-content: space-between;
}

.footer_right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.footer_left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.company_information{
    display: flex;
}
.company_information p{
    margin-top: 5px;
    margin-right: 20px;

    font-size: 16px;
}

/*------------------- 頁尾----------------------*/
.product{
    position: relative;
    overflow: hidden;
}

.product:hover a img{
    opacity: 0.5;
}
.product:hover a img:not(:first-child){
    display: none;
}


.product:hover p{
    display: grid;
}
.product a p{
    display: none;;
    text-align: center;
    color: #F6F4EE;
    border: 1px solid #F6F4EE;
    padding: 5px 10px;
    font-size: 12px;
    margin: auto auto;
    grid-column: 1 /2;
    grid-row: 1/ 2;
    z-index: 10;
}

.product a img{
    grid-column: 1/ 2;
    grid-row: 1 /2;

}
.product > a{
    background: #4B4237;
    display: grid;
}
.products_area{
    width: 100vw;
    box-sizing: border-box;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.product_text_area{
    text-align: center;
    color: #736B60;
}

.product_text_area h1{
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
}

.product_text_area p{
    font-size: 16px;
    margin-bottom: 5px;
    line-height: 23px;
}
.product_wall a img {-o-user-drag: none;
    width: calc((100vw - 300px - 100px) * 0.1666);
}


.product_introduction > a{
    font-size: 14px;
    margin-bottom: 5px;
}

.product_price h3{
    font-size: 10px;
    color: #FF8675;
}

.product_price h4{
    color: #4B4237;
    font-size: 12px;
}

.function_buttons{
    font-size: 14px;
    color:#A49694;
}
.function_buttons i:hover{
    color: #FF8675;
}
.product_amount{
    display: flex;
    align-items: center;
    gap: 5px;
}
.product_price{
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

.product_introduction{
    padding: 5px;
    box-sizing: border-box;
}

.product_wall{
    width: calc(100vw - 300px);
    margin: 0 auto;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: left;
    gap:40px 20px;
}

.product a,.product_introduction a{
    text-decoration: none;
    color: #4B4237;
}


.prev, .next {
    cursor: pointer;
    margin: auto;
    padding: 16px;
    color: #4B4237;
    font-weight: bold;
    font-size: 18px;
    top: 50%;
    margin-top: 18px;
    user-select: none;
    position: absolute;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
}

.next {
    right: 5%;
}
.prev {
    left: 5%;
}




.pagination{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.pagination a{
    display: block;
    text-align: center;
    color: black;
    font-size: 14px;
    height: auto;
    padding: 8px 10px;
    text-decoration: none;
    transition: background-color .3s;
}
  
.pagination a.active {
    background-color: #A49694;
    color: white;
}
  
.pagination a:hover:not(.active) {
    background-color: #ddd;
}

.floating-window img{
    width:20vw;
    border-radius: 12px;
    box-shadow: 2px 2px 8px #4B4237;

}
.floating-window{
    position: relative;
    width:20vw
}
.window{
    position: fixed;
    bottom: 5px;
    left: 0;
    width:20vw;
    z-index: 10;

}
.floating-window i{
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 11;

}
.floating-window i:hover{
    color: white;
    cursor: pointer;
}
.floating-window-2{
    position: fixed;
    right: 0;
    bottom: 30%;
    z-index: 12;
}
.window-2 i:hover{
    color: #E5AAA3;
    cursor: pointer;
}
.window-2{
    display: flex;
    flex-direction: column;
    align-items: center;;
    gap: 30px;
    padding: 15px 5px 10px 10px; 
    border-radius: 20px 0 0 20px ;
    background-color: #A49694;
    color: #F6F4EE;

}

.bar {
margin: auto 0;
font-size: 14px;
display: none;
}

@media screen and (max-width: 1280px) {
    header{
        font-size: 14px;
        height: 45px;
    }
    .LOGO a{
        font-size: 32px;
    }
    .footer_left_top a{
        font-size: 14px;
    }
    .company_name p{
        font-size: 30px;
    }
    .right_top h1{
        font-size: 14px;
    }
     .right_bottom h2{
        font-size: 12px;
    }
    .company_information p{
       font-size: 12px;
    }
    .marquee{
        font-size: 12px;
    }    
    .product_wall a img {
        width: calc((100vw - 300px - 60px) * 0.25);
    }
    .window-2{
        padding: 20px 10px 20px 15px; 
    }
}

@media screen and (max-width: 940px) {
    .bar{
        display: block;
        position: absolute;
        right: 10px;
        top: 35%;
    }
    header ul li a{
        display: none;
    }
    header section input, #searchicon{
        display: none;
    }

}

section ul li:first-child{
    display: flex;
}

.barmenu{
    display: none;
    width: 90vw;
    height: 100vh;
    position: absolute;
    background-color: #F6F4EE;
    left: 100px;
    top:-16px;
    transition: left 0.5s ease;
    overflow-y: auto
}
.barmenu::-webkit-scrollbar {
    width: 0px;

}
.barmenu h1{
    color: #A49694;
    font-size: 22px;

    font-weight: bold;
}
#delete{
    color: #A49694;
}

.bartop {
    display: flex;
    flex-direction: row;
    padding: 30px;
    justify-content: space-between;
    align-items: center;

}

#barsearchicon{
    color: #4B4237;
    margin-left: -40px;
}

#searchbox{
    outline: none;
    height: 40px;
    border: none;
    width: 90%;
    padding: 0 20px;
    border-radius: 20px;
    box-sizing: border-box;
    color: #4B4237;
    font-weight: bold;
    opacity: 0.6;
    
}
.barsearch{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
#moblielogin{
    display: block;
    margin: 0 auto;
    padding: 20px 40px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    box-sizing: border-box;
    width: 90%;
    color: white;
    background-color: #E5AAA3;
    margin-bottom: 30px;
}

.bartag{
    color: white !important;
    font-size: 14px;
    font-weight: bold;
    padding:0 30px ;
    border-right: 1px solid #736B60;
}
.bartag:last-child{
    border: none;
}
.bartag a{

}
.barbut{
    background: #A49694;
    box-sizing: border-box;
    padding: 10px 0;
    margin: 0 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#barhr{
    width: 90%;
    color: 736B60;
}

.allitemmidtag{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    padding: 0 30px;
}
.allitemsmalltag{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.allitemmidtag{
    color: #736B60;

}
.allitemmidtagtitle{
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 1px solid #4B4237;
    margin-bottom: 20px;

}
.allitem{
    background-color: white;
    margin: 10px 30px;
    padding: 20px 0;
}

#alitemimg{
    width: 20px;
    border-radius: 20px;
    padding: 5px;
    border: 1px solid #4b4237;
}

.allitemtag{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    margin-bottom: 20px;
}

.allitemsmalltag a{
    color: #736B60;
}

