@import url(reset.css);

@import url(style.css);


.menu {
    position: fixed;
    top: 120px;
    left: 10%;
}

header{
    background: none;
    background-color: #F6F4EE;
    color: #4B4237;
    border-bottom: 1px solid #999; 
}

.button a,.header_right li a{
    text-decoration: none;
    color: #4B4237;
}
.LOGO a{
    color: #4B4237;
}

.menu a {
    display: block;
    margin: 5px 0;
    cursor: pointer;
    margin-bottom: 20px;
    font-weight: bold;
}

.header_right input{
    width: 60px;
    display: block;
    border: none;
    border-bottom: 1px solid #4B4237; 
    background:none ;
}
.section {
    display: block;
    padding: 40px 10px 10px;

}
main{
    padding: 100px 150px 200px;
    margin-left: 15%;
}

.title{
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: #4B4237;
}

.menu a {
    text-decoration: none;
    color: #4B4237;
    font-size: 18px;
    margin-bottom: 30px;
}

.section h2{
    font-weight: bold;
    border-top: 1px solid #ccc;
    padding: 40px 0;
    font-size: 18px;
    color: #4B4237;
}
.section p{
    font-size: 14px;
    color: #736B60;
    margin-bottom: 20px;
}

.button a,.header_right li a{
    text-decoration: none;
    color: #4B4237;
}
header{
    background: none;
    background-color: #F6F4EE;
    color: #4B4237;
    border-bottom: 1px solid #999; 
}

.button a,.header_right li a{
    text-decoration: none;
    color: #4B4237;
}
.LOGO a{
    color: #4B4237;
}

.menu a {
    display: block;
    margin: 5px 0;
    cursor: pointer;
    margin-bottom: 20px;
    font-weight: bold;
}

header section input {
    border: none;
    border-bottom: 1px solid #4B4237; 
    background:none ;
}

nav ul li a,header section li a{
    color: #4B4237;
}


@media screen and (max-width:950px) {
    main{
        padding: 0;
        margin: 50px;
    }
    .menu{
        display: none;
    }
}