@import url(reset.css);
@import url(style.css);

body {
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.mySlides{
    display: grid;
}
.mySlides > img{
    grid-column: 1/2;
    grid-row: 1/2;
    user-select: none;
    -webkit-user-drag: none
}

.countdown-container{
    grid-column: 1/2;
    grid-row: 1/2;
    margin: auto auto;
    text-align: center;
    padding: 40px 80px;
    border-radius: 12px;;
    color: white;
    user-select: none;
    -webkit-user-drag: none;
    background-color: white;
}
.mySlides{
width: 100vw;
}
#countdown {
    font-size: 40px;
    font-weight: bold;

}

#hours , #minutes , #seconds{
    background-color: #4B4237;
    padding: 5px 10px;
    border-radius: 8px;
}

.countdown-container h1{
    color: #4B4237;
    margin-bottom: 40px;
    font-weight: bold;
    font-size: 24px;
}

.popular_items_area{
    width: 100vw;
    box-sizing: border-box;
    padding: 100px 150px;
    position: relative;
    background-color:#F6F4EE ;
}

.popular_items_text_area{
    text-align: center;
    color: #736B60;
}

.popular_items_text_area h1{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.popular_items_text_area p{
    font-size: 16px;
}

.popular_items{
    display:flex;
    overflow: hidden;
    gap:20px;
    padding:40px 0;
    box-sizing: border-box;
}
#countdown{
    gap: 40px;
    display: flex;
    flex-direction: row;

}

.popular_items img {-o-user-drag: none;
    width: calc((100vw - 300px - 60px) * 0.25);
}

.product{
    overflow: visible;
}


@media screen and (max-width:940px){
    .product, .popular_items .product a img {
        width: calc((100vw - 300px - 40px)* 0.333);
    }
}
@media screen and (max-width:750px){
    .popular_items_area {
        padding: 60px 70px;
    }
    .countdown-container {
        padding:40px;
    }
    #hours,#minutes,#seconds{
        font-size: 24px;
    }
    .countdown-container h1 {
        margin-bottom: 20px;
    }
    .product, .popular_items .product a img {
        width: calc((100vw - 140px - 20px)* 0.50);
    }
}

@media screen and (max-width:550px){
    .product, .popular_items .product a img {
        width: calc(100vw - 140px);
    }
    .countdown-container {
        padding:20px;
    }
    #hours,#minutes,#seconds{
        font-size: 20px;
    }
    .countdown-container h1 {
        margin-bottom: 5px;
        font-size: 18px;
    }
    #countdown{
        gap: 20px;
    }
}
@media screen and (max-width:460px){
    .countdown-container {
        padding:15px 10px;
    }
    #hours,#minutes,#seconds{
        font-size: 20px;
    }
    .countdown-container h1 {
        margin-bottom: 5px;
        font-size: 18px;
    }
    #countdown{
        gap: 10px;
    }
}
