@import url(reset.css);
@import url(style.css);



/*----------------------推薦商品----------------------*/

.items_area{
    width: 100vw;
    box-sizing: border-box;
    padding: 100px 150px;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color:#F6F4EE ;
}

.popular_items_text_area{
    text-align: center;
    color: #736B60;
}

.popular_items_text_area h1{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.popular_items_text_area p{
    font-size: 16px;
}

.popular_items{
    display:flex;
    overflow: hidden;
    gap:20px;
    padding:40px 0;
    box-sizing: border-box;
}

.slideshow-container{
    box-sizing:border-box;
    position: relative;
}

.slideshow-container img {-o-user-drag: none;
    -webkit-user-drag: none;
    width: 100%;
    display: flex;
}

.mySlides {
    display: none;
}

.slideshow-container>.prev, .slideshow-container>.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
}

.slideshow-container>.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.slideshow-container>.prev {
    left: 0;
    border-radius: 0 3px 3px 0;
}

.slideshow-container>.prev:hover, .slideshow-container>.next:hover {
background-color: rgba(0,0,0,0.8);
}

.OOTD_area{
    width: calc(100vw - 300px);
    box-sizing: border-box;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.OOTD_text_area img{
    width: 4vw;
    margin-bottom: 10px;
}

.OOTD_text_area h1{
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold;
}

.OOTD_text_area{
    text-align: center;
    color: #736B60;
}


.OOTD_text_area p{
    font-size: 16px;
    margin-bottom: 5px;
    line-height: 23px;
}
.today_week_month{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    font-weight: bold;
}
.DAY_BTN:hover{
    padding: 10px 20px;
    background-color: #E5AAA3;
    border-radius: 20px;
    font-size: 14px;
    color: white;
}

.DAY_BTN{
    padding: 10px 20px;
    background-color: #F6F4EE;
    border-radius: 20px;
    font-size: 14px;
}



.product a img{
    width: calc((100vw - 300px - 100px)* 0.1666);
    height: 40vh;
    object-fit:cover;
    display: flex;;
}


.popular_items{
    display: flex;
}

.product{
    background-color: rebeccapurple;
    display: flex;
    transition:0.3s;
}

.product a img:hover{
    transform: scale(1.1);
}

.function_select{
    width: 250px;
    padding:0 30px;
}

.OOTD_area section{
    display: flex;
}

.function_select h3{
    color: #4B4237;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}

.function_select .checkbox{
    margin-top: 20px;
}
.function_select label{
    font-size: 24px;
    color: #4B4237;

}

.waterfall{
    width: calc(100vw - 550px);
    column-count: 6; /* 設置列數 */
    column-gap: 1em;
}
.item1, .item2,.item3,.item4,.item5,.item6{
    break-inside: avoid; /* 防止元素在列中斷裂 */
    margin-bottom: 1em; /* 底部間距 */
}
.item1 img, .item2 img,.item3 img,.item4 img,.item5 img,.item6 img{
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: 50% 50%;;

}


.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 30vw;
  }
  
  .modal.active {
    transform: translate(-50%, -50%) scale(1);
  }
  
  .modal-header {
    padding: 10px 15px;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
  }
  
  .modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
  }
  .close-button{
    text-align: right;
}

  .modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .modal-body {
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
  }
  
  #overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
  }
  
  #overlay.active {
    opacity: 1;
    pointer-events: all;
  }



.modal-body input{
    outline: none;
    border: none;
    line-height: 200%;;
    border-bottom: 1px solid #4B4237;
}

